RESAMANIA_API_URL=https://gateway.prod.gravitee.stadline.tech/resa2-staging
RESAMANIA_CLIENT_TOKEN=demoapi
RESAMANIA_BEARER_TOKEN=your_bearer_token
RESAMANIA_API_KEY=your_gateway_api_key
RESAMANIA_CLUB_CODE=YOUR_CLUB_CODE
RESAMANIA_CLUB_ID=/demoapi/clubs/123
RESAMANIA_NETWORK_NODE_ID=/demoapi/network_nodes/456
RESAMANIA_CHECKOUT_ID=/demoapi/checkouts/789
RESAMANIA_CONTACT_ID=/demoapi/contacts/000
RESAMANIA_SALE_ID=/demoapi/sales/000
