# Resamania API credentials
# WARNING: in production, these calls must go through your backend to avoid exposing credentials.
VITE_RESAMANIA_API_URL=https://gateway.prod.gravitee.stadline.tech/resa2-staging
VITE_RESAMANIA_CLIENT_TOKEN=demoapi
VITE_RESAMANIA_BEARER_TOKEN=your_bearer_token
VITE_RESAMANIA_GATEWAY_API_KEY=your_gateway_api_key
VITE_RESAMANIA_PAYMENT_URL=https://payment.integ.resa2.stadline.tech
